
body{
    background-image: url(fondo2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    display: flex;
    justify-content: center;
}

img{
    transition: all 0.5s ease;
    border-radius: 10%;
}

img:hover{
    transform: scale(0.9);
}

.imgCentral{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    padding-top: 10px;
}

.main{
    height: 1200px;
}

form{
    margin-top: 30px;
    background-image: url(heroes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    display: none;
}

table{
    display: flex;
    justify-content: center;
    font-size: 22px;
}

th{
    color: white;
    background-color: rgb(19, 19, 87);
}

td{
    background-color: rgb(223, 49, 78);
}

/* Customize the label (the sideSelect) */
.sideSelect {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .sideSelect input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .sideSelect:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .sideSelect input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .sideSelect input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .sideSelect .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  